.c-pink{
	color: rgb(218, 9, 71);
}
.c-white{
	color: white;
}
.c-black{
	color: black;
}
.txt-white{
	color: white;
}

.bg-pink{
	background-color: rgb(218, 9, 71);
}
.bg-black{
	background-color: black;
}